@import "../../scss/variable";

.navbar {
    background-color: $cardNavbgColor;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    &:hover{
        background-color: $backgroundColor;
        color: $cardNavbgColor;
    }
}